@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  min-height: 100%;
}

body {
  font-family: "Lobster", cursive;
  font-size: 18px;
  line-height: 28px;
  min-height: 100vh;
  background-image: url("https://images.unsplash.com/photo-1461409971633-aa0e46732112?crop=entropy&fit=crop&fm=jpg&h=1000&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1925");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 0;
  position: relative;
}

.item {
  width: 300px;
  height: 300px;
  overflow: hidden;
  border-radius: 10% 50% 20% 15%;
  text-align: center;
  color: #fff;
  position: absolute;
  left: 10%;
  top: 10%;
  /* transform: translate(-50%, -50%); */
}

.item1 {
  background-color: rgba(0, 0, 255, 0.5);
}

.item h1 {
  padding: 30% 15px 25px 15px;
}

.item p {
  padding: 0 20px;
}

video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  background-size: cover;
}
